<script>
let count = 0
$: count = count
</script>

<h1>Hello SibinTek!</h1>
<p>This is my test work</p>
Good bye!
<button on:click={()=>{count += 1}}> You have clicked: {count} times</button>

<style>

</style>
